@import "range.css";
body{
    min-width: 320px;
}

main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn_panel{
    width: 100%;
    text-align: center;
}
button{
    border: 1px solid #323232;
    background: #fff;
    color: #000;
    height: 30px;
    width: 40px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    margin: 0 2px;
}
.active{
    background: #000000;
    color: white;
}
.news{
    margin: 20px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #323232;
}
.news h1{
    text-align: center;
}
.search_container{
    padding: 20px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search_input{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}
.search_input input{
    padding: 5px 10px;
    font-size: 20px;
}
.search_box{
    width: 100%;
    text-align: center;
    max-width: 180px;
    border: 1px solid #323232;
    margin: 0 10px 20px 10px;
    padding: 10px;
}
@media screen and (max-width: 700px){
    .search_input{
        flex-direction: column;
    }
}