.app {
  font-family: sans-serif;
  text-align: center;
  font-size: 25px;
}

.block-name {
  display: block;
  border-width: 2px;
  border-style: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 40%;
}

.input {
  margin-bottom: 25px;
}

.app-header {
  text-align: center;
  background-color: #222;
  height: 40px;
  color: white;
}

.app-header-block {
  display: block;
  border-width: 3px;
  border-style: solid;
  border-radius: 10% 0% 10% 0%;
  text-align: center;
  width: 100%;
}
