.orange_line {
    border-bottom: 1px solid #f43f2a;
}

header {
    padding: 20px 0;
    width: 100%;
    z-index: 10;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    height: 92px;
    min-width: 340px;
}

.flex_header {
    width: 100%;
}

.flex_header, .basket_header {
    justify-content: space-between;
}

.basket_header {
    width: 100%;
}

.basket_header_info {
    font-size: 20px;
    margin-left: 30px;
}

.header_left {
    width: 620px;
}

.header_logo {
    width: 120px;
    margin-right: 40px;
    cursor: pointer;
}

.telephone {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.footer_p_tel {
    margin: 4px 0;
}

.telephone h2 {
    font-size: 27px;
    font-weight: bold;
}

/** Header Panel **/
.header_panel {
    width: 100%;
    justify-content: space-between;
}

.header_panel img {
    width: 100%;
    max-width: 35px;
}

.header_panel a:hover h3 {
    color: #f43f2a;
}

nav {
    width: 100%;
    max-width: 450px;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav a img {
    margin-left: 10px;
}

.basket_icon {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.basket_count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: -5px;
    border-radius: 50%;
    background: #f43f2a;
    height: 15px;
    width: 15px;
    font-size: 10px;
    color: #ffffff;
}

@media screen and (max-width: 1050px) {
    .header_logo {
        margin-right: 20px;
    }
    nav {
        width: 380px;
    }
}

@media screen and (max-width: 950px) {

    .basket_icon{
        margin-right: 0;
    }

    .hidden_950px {
        display: none;
    }

    nav {
        width: auto;
    }

    nav a {
        margin-right: 20px;
    }
}

@media screen and (max-width: 850px) {
    .header_left {
        width: 140px;
    }

    .header_left .telephone, .basket_phone {
        display: none;
    }

    .basket_header_info{
        text-align: right;
    }

    .header_panel {
        justify-content: flex-end;

    }
}

@media screen and (max-width: 650px) {

    nav h3 {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    .header_panel img{
        width: 30px;
    }

    .header_logo, .header_left {
        width: 80px;
    }

    nav a {
        margin-right: 10px;
    }

}
